[submodule "third-party/logger"]
	path = third-party/logger
	url = https://github.com/byteihq/Logger
[submodule "third-party/NetworkCommunication"]
	path = third-party/NetworkCommunication
	url = https://github.com/byteihq/NetworkCommunication
[submodule "third-party/Logger"]
	path = third-party/Logger
	url = https://github.com/byteihq/Logger
